
// Colores
$blanco: #fff;
$negro: #000;
$gris: #6e6e6e;
$grisOscuro: #2727279b;

// Fuente
$fuente1: 'Belleza', sans-serif;
$fuente2: 'Quicksand', sans-serif;
$fuente3: 'Palanquin', sans-serif;

// Media queries
$telefono: 480px;
$tablet: 820px;
$desktop: 1200px;

// Separaciones
$separacion: 5rem;