.contenido-modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;

	.btn-modal {
		color: $negro;
		margin: 2rem;
		font-size: 2.7rem;
		padding: 1rem;
		background: none;
		border: none;
		font-family: $fuente2;
		opacity: 1;
		visibility: visible;
		display: inline-block;

		@include tablet {
			opacity: 0;
			visibility: hidden;
			display: none;
		}
	}
}

.modal-contacto{
	color: $negro;

	p {
		color: $negro;
		font-family: $fuente3;
	}

	button {
		border: none;
		border-radius: .5rem;
		background-color: $negro;
		color: $blanco;
		padding: 1rem;
		margin-top: 1rem;
		font-family: $fuente3;
	}
}

.nov-modal{
	width: 25rem;
	height: 37.5rem;
	margin: auto;

	.img{
		height: 37.5rem;
	}

	@include telefono {
		width: 35rem;
		height: 52.5rem;

		.img{
			height: 52.5rem;
		}
	}

	@include tablet{
		width: 45rem;
		height: 67.5rem;

		.img{
			height: 67.5rem;
		}
	}
}

.nov-modal-dos{
	width: 30rem;
	height: 30rem;
	margin: auto;

	.img{
		height: 30rem;
	}

	@include telefono {
		width: 40rem;
		height: 40rem;

		.img{
			height: 40rem;
		}
	}

	@include tablet{
		width: 50rem;
		height: 50rem;

		.img{
			height: 50rem;
		}
	}
}